banner-header{
    display: flex;
    height: 327px;
    position: relative;
}

.banner-header{

    &__texts-holder{
        position: absolute;
        color: white;
        text-align: center;
        justify-content: center;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    &__title{
        margin: 0 0 4rem;
    }
    
    &__image{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}