<div class="banner-header__texts-holder" >
    <h2 class="text-head banner-header__title">{{vm.title}}</h2>
    <span class="text-sub-title banner-header__sub-title">{{vm.subTitle}}</span>
</div>
<img 
    class="banner-header__image" 
    ng-src={{vm.backgroundImage}}  
    alt="{{vm.title}}"/>