<html ng-app="OramaApp">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Órama</title>

        <base href="/" />
        
        <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">

        <!-- inject:css -->
        <!-- endinject -->
    </head>

    <body ng-controller="OramaAppController as vm">
        <banner-header
            title = {{vm.$route.current.$$route.params.title}}
            sub-title = {{vm.$route.current.$$route.params.subTitle}}
            background-image = {{vm.$route.current.$$route.params.backgroundImage}}>
        </banner-header>
        <div class="container full-container">
            <div ng-view></div>
        </div>
        <!-- inject:js -->
        <!-- endinject -->
        <!-- app:js -->
        <!-- endinject -->
    </body>

</html>