@import "colors.scss";

@import "../../../bower_components/foundation-sites/scss/settings/settings";
@import "../../../bower_components/foundation-sites/scss/foundation.scss";
@include foundation-everything;



html { font-size: 62.5%; }

body{
    font-family: 'Roboto', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $fake_black;
    background-color: $ice_white;
    font-size: 1.3rem;
}


.text-head{
    font-size: 4.9rem;
    font-family: 'Roboto Slab';
}

.text-sub-title{
    font-size: 2.5rem;
}

.text-info{
    font-size: 1.1rem;
}