$pure_white:    #ffffff;
$ice_white:     #ededed;
$straw_white:   #fafafa;

$weak_gray:     #dfdfdf ;
$simple_gray:   #5f5f5f;
$fake_black:    #444444;

$poll_blue:     #60aabf;
$weak_blue:     #bcebfb;

$poll_green:    #9ef1dd;
$avocato:       #779c3d;

$mango_yellow:  #f5db33;
$pineapple:     #e3f43b;

$orange:        #e48720;
$strawberry:    #db0e00;
